<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("Review", "Styuding", FormMethod.Post))
        {
            <input type="hidden" name="CourseID" />
            <input type="hidden" name="UserID" />
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmación de pago</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Comentario</label>
                        <textarea class="form-control" name="Comment"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Valoración</label>
                        <select class="form-control" name="Vote">
                            @for (var i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit"
                            data-ajax="true"
                            class="btn btn-success">
                        <i class="fa fa-star"></i> Valorar
                    </button>
                </div>
            </div>
        }
    </div>
</div>