@model Course

<div style="min-height:300px;">
    <instructorlesson :id="@Model.Id"></instructorlesson>
</div>

<div class="modal fade" id="lesson-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Lección #1</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateLesson", "Instructor", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Nombre <span class="text-danger">*</span></label>
                        <input type="text" name="Name" class="form-control" value="Lección #1" />
                    </div>

                    <div class="form-group">
                        <label>Contenido <span class="required">*</span></label>
                        <textarea id="wysiwyg" name="Content" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Video <small>[Opcional]</small></label>
                        <input type="text" name="Video" class="form-control" />
                        <small>Ingrese el código de su video</small>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-default">
                            Guardar
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>