<div class="panel panel-default comments">
    <div class="panel-heading">
        <h2>Comentarios <small>últimos 10</small></h2>
    </div>
    <ul class="list-group">
        @for (var i = 0; i < 10; i++)
        {
            <li class="list-group-item">
                <h4>
                    <i class="fa fa-user"></i> Eduado Rodríguez
                    <small>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i> 8 / 10
                        - <i class="fa fa-clock-o"></i> 2017-02-05
                    </small>
                </h4>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </li>
        }
    </ul>
</div>