<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Curso de Javascript y Css 3</h1>
    </div>
    <div class="panel-body">
        <h4 class="remove-margin-top">Desarrollo y tecnología</h4>
        <ul class="list-unstyled remove-margin-bottom">
            <li>
                <rating :value="8"></rating> (75 valoraciones)
            </li>
            <li>
                <i class="fa fa-users"></i> (200 estudiantes inscritos)
            </li>
            <li>
                <i class="fa fa-user"></i> Por Eduardo Rodríguez
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Descripción</h2>
    </div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
</div>
